SECRET_KEY=
DJANGO_SETTINGS_MODULE=config.settings.development
DEFAULT_FROM_EMAIL=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
SENDGRID_API_KEY=
ALLOWED_HOSTS=
PESAPAL_CONSUMER_KEY=
PESAPAL_CONSUMER_SECRET=
PESAPAL_ENVIRONMENT=sandbox